#ct_rank_mensaje {						background-color: #81BEF7; color: #fff; font-size: smaller; font-weight: bold;}

.ct_rank_table {						width:100;  font-family: 'Cabin'; }
.ct_rank_table table {					display: table; width: 100%; border-collapse: collapse; font-size: smaller; }
.ct_rank_table table tr:hover{			background: #D3E0D7; }
.ct_rank_table th,
.ct_rank_table td {						text-align: center; padding: 1px; border-bottom: 1px solid silver; vertical-align: middle; }
.ct_rank_table thead th {				background-color: #749C6D; color: #fff; font-weight: bold; cursor: pointer; padding: 6px;  text-align:center; }
.ct_rank_table .ct_rank_img img {		float: left; text-align: center; border-radius: 50%; }
.ct_rank_table .ct_rank_numeric {		text-align: center; }
.ct_rank_table .ct_rank_highlight td {	font-weight: bold; border-top: 2px solid black; border-bottom: 2px solid black; }
.ct_rank_table .active {				background-color: #2E64FE; color: #fff;}
.ct_rank_table .active a {				color: #fff;}
.ct_rank_table .default {				background-color: #f5f5f5; }
.ct_rank_table tfoot tr td {			background-color: #749C6D; color: #fff; font-weight: bold; cursor: pointer; padding: 2px; text-align:center;}
.ct_rank_table tfoot a {				color: #fff;}
.ct_rank_table select, input { 			border:1px solid #666!important; width: 100%!important; padding: 0px; margin: 0px; margin-bottom: 10px; color: #999!important; }
.ct_rank_table input { 					width: 100%!important;  }

.ct_rank_load {	}